# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
*.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/

# Logs
*.log

# Byte-compiled or optimized files
*.pyc
*.pyo
*.pyd

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.spec

# Temporary files
*.tmp
*.swp
